<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crime.model.dao.HeatMapDao">

    <select id="getHistoryHeatPoints" resultType="com.crime.model.domain.HeatPoint">
        SELECT
          latitude    AS lat,
          longitude   AS lng
        FROM parsedData
--         WHERE year&gt;2012
--         AND year&lt;2018
        WHERE year=2014
    </select>

    <select id="getPredictionHeatPoints" resultType="com.crime.model.domain.HeatPoint">
        SELECT
          latitude    AS lat,
          longitude   AS lng
        FROM predict_task_2_3_suspect
    </select>

</mapper>