<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crime.model.dao.HeatMapDao">

    <select id="getStatePosition" resultType="com.crime.model.domain.Position">
        SELECT
          longitude   AS lat,
          latitude    AS lng
        FROM state_encode
        WHERE state = #{name}
    </select>

</mapper>